<div class="container col-md-8 mt-5 ">
    <h2 class="fs-1">Dashboard</h2>        
    <table class="table  table-striped">
        <thead>
            <tr class="fs-1">
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="text-nowrap"><a href="#/addsp" class="btn btn-outline-dark  text-decoration-none fs-2 mb-5">Thêm sản phẩm</a></th>
            </tr>
            <tr class="fs-1 bg-warning">
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col" class="text-nowrap">Thao tác</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="book in books" class="fs-5" id="sach">
                <th width="10%"  width="10%" scope="row">{{$index+1}}</th>
                <td width="20%" class="fw-bold pt-5 fs-4">{{book.name}}</td>
                <td width="20%">
                    <img class="w-100" src="{{book.images[0]}}" alt="">
                </td>
                <td width="30%">{{book.short_description | limitTo:50}}...</td>
                <td width="20%" class="fw-bold pt-5 fs-4" >{{book.original_price}}     VND</td>
                <td>
                    <a href="#/updatesp/{{book.id}}" class="btn btn-outline-dark me-3 mt-5 text-decoration-none fs-3">Sửa</a>
                    <a  class="btn btn-outline-dark me-3 text-decoration-none  fs-3 mt-5 text-danger" ng-click="delete(book.id)">Xóa</a>
                    
                </td>
            </tr>
        </tbody>
    </table>
    </div>
<!-- <div class="container">
    <a class="btn btn-outline-primary fs-4 mb-5" href="#/addSP">Thêm mới sản phẩm</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <th class="text-center " width="5%" width="10%" scope="row">{{$index+1}}</th>
                <td width="20%">{{book.name}}</td>
                <td width="20%">
                    <img class="w-100 " src="{{book.images[0]}}" alt="">
                </td>
                <td width="30%">{{book.short_description }}</td>
                <td class="text-center " width="10%">{{book.original_price}}</td>
                <td class="text-center">
                    <a class="btn btn-outline-danger text-decoration-none " href="#/updatesp/{{book.id}}">Sửa</a>
                    <button class="btn btn-outline-danger" ng-click="delete(book.id)">Xoá</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->